---

- name: Debian | Install packages
  apt: >
    name={{ item }}
    state=installed
  with_items: php.packages

- name: Debian | Global php.ini files
  template: >
    src="php.ini.j2"
    dest="{{ php.conf_root }}/{{ item }}/php.ini"
  with_items:
    - 'apache2'
    - 'cli'
    - 'fpm'

# vim: syntax=ansible ts=2 sw=2 sts=2 sr et
