; {{ ansible_managed }}

;;; Core configuration ;;;

[PHP]
{% for key,value in php_config.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}

{% if php_config.extra_configuration is defined %}
{{ php.extra_configuration }}
{% endif -%}

;;; Module configuration ;;;

{% for section,dict in php_modules.iteritems() %}
[{{ dict.name }}]
{% for key,value in dict.config.iteritems() %}
{{ section }}.{{ key }}: {{ value }}
{% endfor %}

{% endfor %}

; vim: syntax=ini ts=2 sw=2 sts=2 sr et
